@font-face {
  font-family: "Play";
  src: url(../Assets/Fonts/Play-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Play";
  src: url(../Assets/Fonts/Play-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
