@font-face {
  font-family: "Play";
  src: url(../Assets/Fonts/Play-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Play";
  src: url(../Assets/Fonts/Play-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
.portfolioItem {
  max-width: 240px;
  position: relative;
  background-color: #23a6d5;
  text-align: center;
  margin: 10px 5px;
  box-shadow: black 0px 0px 0px 2px, black 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.portfolioItem img {
  width: 100%;
}

a {
  text-decoration: none;
}

p {
  font-weight: bold;
  color: white;
  margin: 0;
  line-height: 1.2;
}

.title {
  padding: 10px;
}

@media (max-width: 600px) {
  .portfolioItem {
    min-width: 80%;
  }
}
