@font-face {
  font-family: "Play";
  src: url(../Assets/Fonts/Play-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Play";
  src: url(../Assets/Fonts/Play-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
.header {
  min-height: 30vh;
}
.header img {
  border-radius: 50%;
  display: block;
  margin: auto;
  position: relative;
  transform: translateY(25%);
  margin-bottom: -150px;
  max-width: 250px;
  height: auto;
  z-index: 3;
}
