@font-face {
  font-family: "Play";
  src: url(../Assets/Fonts/Play-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Play";
  src: url(../Assets/Fonts/Play-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
.contactDetails {
  padding: 0;
  margin: 20px 0;
  list-style: none;
}
.contactDetails li {
  display: block;
  margin: 10px 0;
}

.socialIcons {
  width: 150px;
  padding-top: 30px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.icon {
  font-size: 1.6em;
}

button {
  background-color: #ee7752;
  color: white;
  font-size: 15px;
  font-weight: 600;
  padding: 10px;
  min-width: 100px;
  border: 3px solid #ee7752;
  transition: background-color 0.5s;
}

button:hover {
  background-color: #ee7752;
  color: black;
  cursor: pointer;
}

.introCopy {
  max-width: 800px;
}
