@import "../../../Styles/combined.scss";

.contactDetails {
  padding: 0;
  margin: 20px 0;
  list-style: none;

  li {
    display: block;
    margin: 10px 0;
  }
}

.socialIcons{
  width: 150px;
  padding-top: 30px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.icon {
  font-size: 1.6em;
}

.introCopy {
  max-width: 800px;
}

.aboutContainer{
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.aboutItem {
  width: 50%;
  padding-right: 10px;
}

@media (max-width: 760px) {
  .aboutContainer{
    flex-direction: column;
    margin-top: 0;
  }
  .aboutItem {
    width: 100%;
    padding-right: 0;
  }
}
