@import "../../../Styles/combined.scss";

.contactDetails {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    display: block;
    margin: 10px 0;
  }
}

.socialIcons{
  width: 150px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.icon {
  font-size: 1.6em;
}