@import "../../../Styles/combined.scss";

.contactDetails {
  padding: 0;
  margin: 20px 0;
  list-style: none;

  li {
    display: block;
    margin: 10px 0;
  }
}

.socialIcons{
  width: 150px;
  padding-top: 30px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.icon {
  font-size: 1.6em;
}
button {
  background-color: $orange;
  color: white;
  font-size: 15px;
  font-weight: 600;
  padding: 10px;
  min-width: 100px;
  border: 3px solid $orange;
  transition: background-color 0.5s;
}
button:hover {
  background-color: $orange;
  color: black;
  cursor: pointer;
}

.introCopy {
  max-width: 800px;
}
