@font-face {
  font-family: "Play";
  src: url(../Assets/Fonts/Play-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Play";
  src: url(../Assets/Fonts/Play-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
.footer {
  background-color: black;
  margin-top: auto;
  font-family: Play, serif;
  width: 100%;
  text-align: center;
}
.footer ul {
  align-content: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 20px 0;
  width: 100%;
  padding: 0;
}
.footer li {
  padding: 0 5px;
  font-size: 1.2em;
  line-height: 2;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer p {
  color: white;
}

.footerContainer {
  max-width: 900px;
  margin: auto;
  padding: 30px 5px;
}

.footerContent {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
  flex-direction: column;
}

.copyright {
  font-size: 0.8em;
}

@media (max-width: 600px) {
  .footerContent {
    padding: 0px 40px;
  }
}
