@font-face {
  font-family: "Play";
  src: url(../Assets/Fonts/Play-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Play";
  src: url(../Assets/Fonts/Play-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
.cardItem {
  max-width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: white;
  margin: 5px;
}
.cardItem img {
  width: 100px;
}
